body {
  font-family: sans-serif;
  text-align: center;
  padding: 3rem;
}

h1 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
}

p {
  position: relative;
  z-index: 1;
  font-size: 2rem;
}

.owoc {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: 80px;
  background-position: center center;
}

.maliny {
  background-image: url("http://icon-icons.com/icons2/881/PNG/512/Raspberry_icon-icons.com_68696.png");
}

.jabłka {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Emoji_u1f34f.svg/600px-Emoji_u1f34f.svg.png");
}

.banany {
  background-image: url("http://www.iconshock.com/img_vista/FLAT/food/jpg/banana_icon.jpg");
}

.truskawki {
  background-image: url("https://cdn3.iconfinder.com/data/icons/casino/256/Strawberry-512.png");
}


@keyframes moja_animacja1
{
  from {top: 2rem;}
  to {top: 43rem;}
}

@keyframes moja_animacja2
{
  from {top: 1rem;}
  to {top: 41rem;}
}

@keyframes moja_animacja3
{
  from {top: 0;}
  to {top: 39rem;}
}

@keyframes moja_animacja4
{
  from {top: 1rem;}
  to {top: 37rem;}
}
@keyframes moja_animacja5
{
  from {top: 1.2rem;}
  to {top: 35rem;}
}
@keyframes moja_animacja6
{
  from {top: .7rem;}
  to {top: 34rem;}
}
@keyframes moja_animacja7
{
  from {top: .2rem;}
  to {top: 33rem;}
}

#output1, #output12, #output20, #output9, #output17, #output8, #output24  {
  animation:moja_animacja1 6s ;
  animation-fill-mode: forwards;
}

#output7, #output33, #output2, #output27, #output39, #output28 {
  animation:moja_animacja2 5s ;
  animation-fill-mode: forwards;
}

#output38, #output32, #output26, #output15, #output34, #output3 {
  animation:moja_animacja3 4s ;
  animation-fill-mode: forwards;
}

#output1, #output13, #output22, #output3, #output35, #output19 {
  animation:moja_animacja4 8s ;
  animation-fill-mode: forwards;
}

#output23, #output26, #output18, #output4, #output21, #output29 {
  animation:moja_animacja5 4s ;
  animation-fill-mode: forwards;
}
#output30, #output6, #output16, #output11, #output14, #output36 {
  animation:moja_animacja6 5s ;
  animation-fill-mode: forwards;
}
#output31, #output37, #output5, #output10, #output40, #output29, #output25 {
  animation:moja_animacja7 6s ;
  animation-fill-mode: forwards;
}
